:root {
	--primary-color: #71dcbe;

	font-family: Avenir, Roboto, sans-serif;
	
	width: 100vw;
	height: 100vh;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	place-items: center;

	font: inherit;
}

html, body,
header, main, footer,
form, label {
	display: grid;
	place-items: stretch;
}


body {
	grid-template-rows: 4em 1fr;
}

header {
	position: sticky;
	top: 0;
	z-index: 1;

	background-color: var(--primary-color);
	color: #fff;
	backdrop-filter: blur(4px) hue-rotate(-60deg);
}

nav {
	display: grid;
	grid-auto-flow: column;
	gap: 2em;
	padding: 0 2em;
	justify-content: space-between;
}

#logo {
	font-weight: bold;
	font-size: 1.4rem;
}

main {
	grid-auto-flow: column;
}

aside {
	width: 30%;
}



input, button {
	-webkit-appearance: none;
	border: none;
	border-radius: 0.2em;
	padding: 0.5em 0.75em;
}
form input, form button {
	border: rgba(0, 0, 0, 0.2) solid 1px;
}
button {
	background-color: rgba(255, 255, 255, 0.9);
	line-height: 1;
	padding: 0.5em 0.75em;
}


.modal {
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(4px) hue-rotate(-60deg);
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0.5rem;

	padding: 1.5rem;
	gap: 1rem;

	position: fixed;
	z-index: 1;
	/* top: 4rem;
	right: 0; */
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	transition: 0.3s;
}
.modal[hidden] {
	opacity: 0;
	user-select: none;
	pointer-events: none;
}



h1, h2, h3, h4 {
	font-weight: bold;
}
h2 {
	font-size: 1.4em;
}