:root {
	/* #71dcbe; */
	--primary-color: rgb(236, 189, 44); /* #71dcbe; */
	--background: radial-gradient(circle at right, rgb(243, 214, 75, 0.7), rgba(236, 159, 44, 0.7));

	--header-height: 4rem;

	font-family: Avenir, Roboto, sans-serif;
	
	width: 100vw;
	height: 100vh;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	place-items: center;

	font: inherit;
}

html, body,
header, main, footer,
form, label {
	display: grid;
	place-items: stretch;
	/* min-width: 0; */
	min-height: 0;
}


body {
	grid-template-rows: var(--header-height) 1fr;
}

header {
	position: sticky;
	top: 0;
	z-index: 1;

	background-color: var(--primary-color);
	background: var(--background);
	color: #fff;
	backdrop-filter: blur(5px) hue-rotate(-60deg);
}

nav {
	display: grid;
	grid-auto-flow: column;
	gap: 1em;
	padding: 0 1.25em;
	justify-content: space-between;
}

#logo {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	gap: 0.3em;
	
	font-weight: bold;
	--text-shadow: rgba(0, 0, 0, 0.2);
	text-shadow: 0.02em 0.02em 0.1em var(--text-shadow);
	font-size: 1.75rem;
	transform-origin: left top;

	animation: LogoIntro 1 2s;
}
#logo i {
	display: inline-grid;
	font-size: 1.2em;
	animation: Oscillate 3s infinite;
}
#logo span {
	mix-blend-mode: luminosity;
}
@keyframes LogoIntro {
	from, 70% {
		background-color: var(--primary-color);
		box-shadow: 0 0 0 50vw var(--primary-color);
		font-size: 2.8rem;
		transform: translate(-50%, -50%) translate(50vw, 50vh);
		z-index: 1;
	}
	from {
		color: rgba(255, 255, 255, 0.02);
		text-shadow: 0 0 transparent;
	}
	20% {
		color: unset;
		text-shadow: 0 0 transparent;
	}
	to {
		box-shadow: 0 0 0 100vw transparent;
	}
}
@keyframes Oscillate {
	from, to { transform: translateY(0.02em); }
	50% { transform: translateY(-0.02em); }
}

main {
	grid-auto-flow: column;
	grid-template-columns: auto 1fr auto;
}

aside {
	width: 30%;
}

form {
	padding: 1.5em;
	gap: 1em;
}


.radio-group {
	display: grid;
	overflow-x: auto;
	/* grid-auto-flow: column; */
	grid-template-columns: repeat(auto-fit, minmax(2.7rem, 1fr));
	gap: 0.5em;
}
input[type=radio] {
	visibility: hidden;
	position: fixed;
}
input[type=text], input[type=password], input[type=tel], input[type=number],
input[type=radio] + span, button, textarea {
	-webkit-appearance: none;
	border: none;
	border-radius: 0.2em;
	padding: 0.5em 0.75em;

	border: rgba(0, 0, 0, 0.2) solid 1px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px;

	/* background-color: rgba(255, 255, 255, 0.9); */
	background-color: transparent;
	/* backdrop-filter: brightness(200%); */
	backdrop-filter: brightness(250%);
	transition: 0.2s;
	transition-property: background-color, backdrop-filter, color;
}
input:hover, button:hover, textarea:hover {
	/* background-color: rgba(255, 255, 255, 1); */
	backdrop-filter: brightness(210%);
}

input[type=radio]:checked + span {
	/* background-color: var(--primary-color); */
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
}

input.inline {
	border: none;
	padding: 0;
	max-width: 6em;
}

button {
	line-height: 1;
	padding: 0.5em 0.75em;

	cursor: pointer;
}


label {
	gap: 0.3em;
}
label span:first-child {
	opacity: 0.5;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.2ch;
}

.hideable {
	transition: 0.2s;
	transition: 0.3s all, transform 0.5s cubic-bezier(0, 1.03, 0.1, 1.44);
}
.modal, .side-menu {
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(5px) hue-rotate(-60deg);
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0.5em, rgba(0, 0, 0, 0.1) 0 2px 1em;
}
.modal .close, .side-menu .close {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	width: 2em;
	height: 2em;
	padding: 0;
}
/*.modal .close::before, .modal .side-menu::before {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	backdrop-filter: grayscale(0.5);
}*/

.modal {
	position: fixed;
	z-index: 1;
	/* top: 4rem;
	right: 0; */
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	border-radius: 0.5em;
}
.modal[hidden] {
	transform: translate(-50%, -50%) translateY(10%);
	opacity: 0;
	user-select: none;
	pointer-events: none;
}

.side-menu {
	display: block;
	position: relative;
	overflow-y: auto;

	border-radius: 0.5em;
	
	width: 25em;
}
.side-menu[hidden] {
	/* font-size: 0; */
	width: 0em;
}
.side-menu form {
	margin: 0.75em;
}



small {
	font-size: 0.8em;
	opacity: 0.8;
}



h1, h2, h3, h4 {
	font-weight: bold;
}
h2 {
	font-size: 1.4em;
}


header nav button {
	border: none;
}




/* Google Maps */

#map {
	margin-top: calc(-1 * var(--header-height));
}

#map *, #directions * {
	font-family: inherit !important;
}

#map .gm-fullscreen-control, #map [style*="top: 0px"] [role=button] {
	transform: translateY(var(--header-height));
}